[user]
	email = pmbs.123@gmail.com
	name = Pedro Soares
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIBryx6YRsopRUtU0C0CQ54HaPE45h+dih2XOIdA9+IFa
[init]
	defaultBranch = main
[core]
	editor = nvim
[alias]
	co = checkout
    br = branch
    c = commit
    cm = commit -m
    a = add
    s = status
    ps = push
    pl = pull
    logl = log --oneline --graph --all --decorate
    logg = log --graph --all --decorate --abbrev-commit 
[pull]
	rebase = false
[gpg]
	format = ssh
[gpg "ssh"]
	program = /opt/1Password/op-ssh-sign
[commit]
	gpgsign = true

	# Enforce SSH
[url "ssh://git@github.com/"]
  insteadOf = https://github.com/
