/* Colors from Tokyonight
---------------------------
bg = '#1a1b26'
black = '#15161e'
red = '#f7768e'
green = '#9ece6a'
yellow = '#e0af68'
blue = '#7aa2f7'
magenta = '#bb9af7'
cyan = '#7dcfff'
white = '#a9b1d6' */


* {
    font-family: "GeistMono Nerd Font";
    font-weight: bold;
    font-size: 14px;
}

window#waybar {
    background: #1a1b26;
    /* background: rgba(21, 18, 27, 0); */
    color: #a9b1d6;
}

tooltip {
    background: #1a1b26;
    color: #a9b1d6;
    border-radius: 10px;
    border: 2px solid #7dcfff;
}

/* MODULES LEFT */

#workspaces {
    background: #15161e;
    margin: 5px 5px 5px 0px;
    padding: 0px 8px 0px 8px;
    border-radius: 0px 10px 10px 0px;
    border-bottom: 2px solid #e0af68;
}

#workspaces button {
    background: #15161e;
    color: #fff;
    margin: 3px 3px 3px 3px;
    padding: 0px 8px 0px 8px;
}

#workspaces button.active {
    color: #7dcfff;
}

#workspaces button:hover {
    color: #f7768e;
    background: #9ece6a;
}

#workspaces button.urgent {
    color: #9ece6a;
    border: 2px solid #9ece6a;
}

#window {
    background: #15161e;
    color: #fff;
    margin: 5px 5px 5px 0px;
    padding: 0px 8px 0px 8px;
    border-radius: 10px;
    border-bottom: 2px solid #e0af68;
}



/* MODULES CENTER */

#idle_inhibitor {
    background: #15161e;
    color: #fff;
    margin: 5px 5px 5px 5px;
    padding: 0px 8px 0px 8px;
    border-radius: 10px;
    border-bottom: 2px solid #bb9af7;
}

#clock {
    background: #15161e;
    color: #fff;
    margin: 5px 5px 5px 5px;
    padding: 0px 8px 0px 8px;
    border-radius: 10px;
    border-bottom: 2px solid #bb9af7;
}

#custom-weather {
    background: #15161e;
    color: #fff;
    margin: 5px 5px 5px 5px;
    padding: 0px 8px 0px 8px;
    border-radius: 10px;
    border-bottom: 2px solid #bb9af7;
}

/* MODULES RIGHT */

#tray {
    background: #15161e;
    margin: 5px 5px 5px 5px;
    padding: 0px 8px 0px 8px;
    border-radius: 10px;
    border-bottom: 2px solid #7aa2f7;
}

#battery {
    background: #15161e;
    margin: 5px 5px 5px 5px;
    padding: 0px 8px 0px 8px;
    border-radius: 10px;
    border-bottom: 2px solid #7aa2f7;
}

#battery.critical {
    color: #f7768e;
}

#load {
    background: #15161e;
    color: #fff;
    margin: 5px 5px 5px 5px;
    padding: 0px 8px 0px 8px;
    border-radius: 10px;
    border-bottom: 2px solid #7aa2f7;
}

#memory {
    background: #15161e;
    color: #fff;
    margin: 5px 5px 5px 5px;
    padding: 0px 8px 0px 8px;
    border-radius: 10px;
    border-bottom: 2px solid #7aa2f7;
}

#backlight {
    border-radius: 10px;
    background: #15161e;
    margin: 3px;
    padding: 3px;
    border-bottom: 2px solid #7aa2f7;
}

#pulseaudio {
    background: #15161e;
    color: #9ece6a;
    margin: 5px 0px 5px 5px;
    padding: 0px 8px 0px 8px;
    border-radius: 10px 0px 0px 10px;
    border-bottom: 2px solid #7aa2f7;
}

#pulseaudio.microphone {
    background: #15161e;
    color: #cba6f7;
    margin: 5px 5px 5px 0px;
    padding: 0px 8px 0px 8px;
    border-radius: 0px 10px 10px 0px;
    border-bottom: 2px solid #7aa2f7;
}



#custom-power_btn {
    background: #15161e;
    color: #f7768e;
    margin: 5px 0px 5px 5px;
    padding: 0px 8px 0px 8px;
    border-radius: 10px 0px 0px 10px;
    border-bottom: 2px solid #7aa2f7;
}
