#window {
	border-radius: 5px;
	margin: 0px;
}

#text{
	color: #c8d3f5;
	font-size: large;
}

#outer-box{
	background-color: #1b1d2b;
	border-radius: 5px;
	margin: 0px;
	padding: 10px;
}

#input{
	background-color: #222436;
	font-weight: bold;
	color: #c8d3f5;
	padding: 5px;
	font-size: large;
}

#input:focus {
	border-color: #86e1fc;
}

#img {
	padding: 5px;
}

#text:selected {
	font-weight: bold;
}
